<section class="hero">
  <div class="hero__container">
    <div class="hero__message">
      <h1 class="hero-title">
        <%= I18n.t("title_full") %>
      </h1>

      <p class="subtitle">
        <%= I18n.t("about_us") %>
      </p>
    </div>
  </div>
</section>
